<div class="row">

    <div class="col-md-10 col-sm-9 col-xs-8">
        【報到QR CODE】<br />
        ※請您攜帶名片及QR CODE驗證入場，謝謝您的配合。
        <img src="upload/@qrcode@.gif">

        <form class="form-horizontal form-fill text-left">
            <div class="form-group">
                <label class="col-xs-12 control-label title">報名序號</label>
                <label class="col-xs-12 control-label text">@orderno@</label>
            </div>
            <div class="form-group">
                <label class="col-xs-12 control-label title">票號</label>
                <label class="col-xs-12 control-label text">@ticketno@</label>
            </div>
            <div class="form-group">
                <label class="col-xs-12 control-label title">姓名</label>
                <label class="col-xs-12 control-label text">@name@</label>
            </div>
            <div class="form-group">
                <label class="col-xs-12 control-label title">e-mail</label>
                <label class="col-xs-12 control-label text">@email@</label>
            </div>
            <div class="form-group">
                <label class="col-xs-12 control-label title">聯絡電話</label>
                <label class="col-xs-12 control-label text">@phone@</label>
            </div>
        </form>
    </div>

</div>
